* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* ========= HEADER ========= */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

header .container-logo {
    width: 100px;
    height: 50px
}

header .container-logo h2 {
    text-align: center;
}

header .container-logo h2 a {
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

header .container-list-items {
    display: flex;
    align-items: center;
}

header .container-list-items ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .container-list-items ul li {
    padding: 0 1rem;
    transition: .3s all;
}

header .container-list-items ul li a {
    color: brown;
    font-size: 1.4rem;
    transition: .3s all;
}

/* hovers menu items */
.header .container-list-items ul li:hover {
    transform: scale(1..5);
    color: rgb(141, 70, 70);
}

.header .container-list-items ul li:hover>a {
    color: aqua;
}


/* ======FOOTER===== */
footer {
    background-color: red;
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* INDEX.HTML */
/* seccion de imagenes uno */

/* .home__section-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
} */

/* .home__section-images div {
    width: 80%;
    height: auto;
    margin: 0 auto;
} */

/* .home__section-images div img {
    width: 100%;
} */

.home__section-images {
    display: grid;
    grid-template-areas: "container1 container2 container3 container4"
        "container5 container6 container7 container7"
        "container8 container8 container9 container9"
        "container10 container10 container10 container11";
    gap: 1rem;
    padding: 0 1rem;
}

.home__section-images div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__section-images div img {
    width: 100%;
    height: auto;
}

.home__section-images div:nth-child(1) {
    grid-area: container1;
}

.home__section-images div:nth-child(2) {
    grid-area: container2;
}

.home__section-images div:nth-child(3) {
    grid-area: container3;
}

.home__section-images div:nth-child(4) {
    grid-area: container4;

}

.home__section-images div:nth-child(5) {
    grid-area: container5;
}

.home__section-images div:nth-child(6) {
    grid-area: container6;
}

.home__section-images div:nth-child(7) {
    grid-area: container7;
}

.home__section-images div:nth-child(8) {
    grid-area: container8;
}

.home__section-images div:nth-child(9) {
    grid-area: container9;
}

.home__section-images div:nth-child(10) {
    grid-area: container10;
}

.home__section-images div:nth-child(11) {
    grid-area: container11;
}

/* seccion de imagenes 2 */

.home__section-images-TWO {
    width: 100%;
    margin: 0 auto;
}

/* ---titulo--- */
.container-tittle-section-dos {
    width: 100%;
    text-align: center;
}

.container-tittle-section-dos h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

/* ---contenedor cards--- */
.container-card-seccion-dos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container-card-seccion-dos div {
    width: 250px;
    height: 300px;
    padding: 0 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.container-card-seccion-dos div img {
    width: 100%;
    height: 100%;
}



/* RESPONSIVE RESPONSIVE */

@media screen and (max-width: 1050px) {
    .container-card-seccion-dos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        justify-content: center;

    }
}



@media screen and (max-width: 992px) {
    .home__section-images {
        grid-template-areas: "container1 container2 container3"
            "container5 container6 container6"
            "container8 container11 container9"
            "container4 container7 container10";
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 520px) {
    .home__section-images {
        grid-template-areas: "container1"
            "container2"
            "container3"
            "container4"
            "container5"
            "container6"
            "container7"
            "container8"
            "container9"
            "container10"
            "container11";
    }
}